<ul class="list-group mb-3">
    <li class="list-group-item lh-condensed">
        <div>
            <ul class="list-group mb-3 text-muted">
                <li class="row">
                    <span class="col">Código</span>
                    <span class="col">Marca</span>
                    <span class="col">Capacidad</span>
                    <span class="col">Productos</span>

                </li>
                <li (click)="SeleccionarContainer(container)"
                    class="row list-group-item d-flex justify-content-between lh-condensed "
                    *ngFor="let container of listaContainers">
                    <span class="col">{{container.codigo}}</span>
                    <span class="col">{{container.marca}}</span>
                    <span class="col">{{container.capacidad}}</span>
                    <span class="col" *ngFor="let producto of container.productosCargados | keys">
                        <span class="row">{{producto.descripcion}}</span>
                        <br>
                        <span class="row">{{producto.stock}}</span>

                        <br> </span>
                </li>
            </ul>
        </div>
    </li>
</ul>