<!doctype html>
<html lang="en">

<body class="text-center">

    <main class="form-signin">
        <form>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="" [(ngModel)]='user'
                    name="uname" required>
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="" [(ngModel)]='password'
                    name="psw" required>
                <label for="floatingPassword">Clave</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="Entrar()">Ingresar</button>
            <br>
            <input class="w-100 btn btn-lg btn-secondary" type="submit" (click)="CompletarCamposAdmin()"
                value="Completar Campos Admin">
            <input class="w-100 btn btn-lg btn-secondary" type="submit" (click)="CompletarCamposEmpleado()"
                value="Completar Campos Empleado">
        </form>
    </main>



</body>

</html>