<!doctype html>
<html lang="en">

<body class="bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Países</span>
                </h4>
                <app-tabla-paises (seSeleccionoPais)="cambiarPais($event)"></app-tabla-paises>

            </div>
            <form [formGroup]="formularioAlta" (ngSubmit)="guardarActor()">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Alta Actor</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nombre</label>
                                <input type="text" class="form-control" formControlName="nombre" placeholder="">
                                <span class="text-danger"
                                    *ngIf="formularioAlta.get('nombre')?.hasError('required') && formularioAlta.get('nombre')?.touched">Debe
                                    completar
                                    con su nombre.</span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Apellido</label>
                                <input type="text" class="form-control" formControlName="apellido" placeholder="">
                                <span class="text-danger"
                                    *ngIf="formularioAlta.get('apellido')?.hasError('required') && formularioAlta.get('apellido')?.touched">Debe
                                    completar con su apellido.</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control" formControlName="email" placeholder="">
                            <span class="text-danger"
                                *ngIf="formularioAlta.get('email')?.hasError('required') && formularioAlta.get('email')?.touched">Debe
                                completar con su email.</span>
                        </div>

                        <div class="mb-3">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" formControlName="direccion" placeholder="">
                            <span class="text-danger"
                                *ngIf="formularioAlta.get('direccion')?.hasError('required') && formularioAlta.get('direccion')?.touched">Debe
                                completar con su direccion.</span>
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Pais</label>
                                <input type="text" readonly=true class="form-control" id="address"
                                    formControlName="pais" placeholder="">
                                <span class="text-danger" *ngIf="formularioAlta.get('pais')?.hasError('required')">Debe
                                    elegir
                                    de la tabla de paises.</span>
                            </div>

                        </div>

                        <button class="btn btn-primary btn-lg btn-block" [disabled]="formularioAlta.invalid"
                            type="submit">Cargar
                            actor</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>

</html>